.flex {
  display: flex;
}
.flex.column-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex.row-center {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex.gap-1 {
  gap: 1rem;
}
.min-height-80vh {
  min-height: 80vh;
}

.display-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.display-grid.gap-1rem {
  gap: 1rem;
}

.display-grid.gap-2rem {
  gap: 2rem;
}

.size100 {
  width: 100%;
  height: 100%;
}

.marborpad0 {
  margin: 0;
  border: 0;
  padding: 0;
}

.pad-1rem {
  padding: 1rem;
}

.border-radius-1rem {
  border-radius: 1rem;
}
